<form [formGroup]="frm" *ngIf="frm">
    <table class="table table-striped m-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="align-middle" colspan="2">FOLHA DE RECOMENDAÇÃO TÉCNICA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="align-middle">NOME DO PROPRIETÁRIO</th>
                <td>
                    <b>{{frm?.value.pessoa?.nome}}</b>
                </td>
            </tr>
            <!-- <tr>
                <th scope="row" class="align-middle">PROPRIEDADE</th>
                <td><input></td>
            </tr>
            <tr>
                <th scope="row" class="align-middle">EXPLORAÇÃO</th>
                <td><input></td>
            </tr>
            <tr>
                <th scope="row" class="align-middle">UNIDADE LOCAL</th>
                <td><input></td>
            </tr> -->
            <tr>
                <th scope="row" class="align-middle">DATA</th>
                <td>
                    <mat-form-field>
                        <input matInput type="date" formControlName="data">
                        <mat-error *ngIf="frm?.controls?.data?.hasError('required')">
                            Campo Obrigatório!
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Informações
                </mat-panel-title>
                <mat-panel-description>
                    Recomendação de amostragem do solo para análise
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Recomendação de amostragem do solo para análise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>
                                Para uma amostragem de solo bem feita, deve-se primeiramente dividir toda a área em
                                glebas ou talhões com características semelhantes (Figura 1). Cada gleba ou talhão
                                deve apresentar a mesma topografia (topo de morro, encosta, baixada), a mesma vegetação,
                                as mesmas características perceptíveis de solo (cor, textura, condição de drenagem) e o
                                mesmo histórico de cultivo (plantas com mesma idade, uso de fertilizantes, culturas
                                plantadas
                                anteriormente).
                            </p>
                            <table>
                                <tr>
                                    <td><img class="img-fluid img-thumbnail" src="assets/receita/i-001.png"></td>
                                    <td><img class="img-fluid img-thumbnail" src="assets/receita/i-002.png"></td>
                                </tr>
                            </table>
                            <p>
                                As amostragens devem ser feitas coletando-se amostras simples em <b>20 pontos ao
                                    acaso</b>,
                                caminhando em
                                ziguezague em cada gleba ou talhão homogêneo e com o uso de trados, enxadas ou pás
                                (Figura
                                2).
                                Misturando-se bem as amostras simples, obtém-se uma amostra composta, da qual separam-se
                                mais ou
                                menos 300 gramas em embalagens limpas. Deve-se identificar cada amostra e levar para um
                                laboratório
                                para realizar a análise de solo.
                            </p>
                            <p>
                                Para <b>áreas novas</b>, as amostras devem ser coletadas na profundidade de 0 a 20 cm e
                                20 a
                                40 cm.
                            </p>
                            <p>
                                Para <b>áreas de fruticultura já implantadas</b>, as amostras devem ser coletadas na
                                camada
                                de 0 a 20 cm na
                                <b>projeção da copa</b> para avaliação de aspectos nutricionais. Também deve ser
                                coletada
                                amostras na
                                profundidade de 0 a 20 cm nas entrelinhas ou no centro das ruas para avaliação dos
                                efeitos
                                da
                                calagem.
                            </p>
                            <p>
                                A frequência da amostragem depende do manejo da cultura. Recomenda-se amostragem anual a
                                partir da
                                fase produtiva e realizada antes do período das chuvas. E a cada três anos coletar
                                amostras
                                nas
                                camadas de 20 a 40 cm.
                            </p>
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 1
                </mat-panel-title>
                <mat-panel-description>
                    Análise Foliar
                    <mat-icon>map</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="table table-striped m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="align-middle" colspan="2">ESCOLHA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="align-middle">Tipo</th>
                        <td>
                            <mat-radio-group formControlName="culturaTipo"
                                (change)="frm?.controls.cultura.setValue(null)">
                                <mat-radio-button value="F" style="margin-right: 16px">Formação</mat-radio-button>
                                <mat-radio-button value="P" style="margin-right: 16px">Produção</mat-radio-button>
                            </mat-radio-group>
                            <mat-error style="font-size: 75%;"
                                *ngIf="frm?.controls.culturaTipo.touched && frm?.controls.culturaTipo.hasError('required')">
                                Campo Obrigatório!
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-middle">Cultura</th>
                        <td>
                            <mat-form-field>
                                <mat-select formControlName="cultura" [compareWith]="idListComparar">
                                    <mat-option
                                        *ngFor="let cultura of culturaList | callback: filtraCulturaTipo: frm?.value.culturaTipo"
                                        [value]="cultura">{{cultura.nome}}</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="frm?.controls.cultura.hasError('required')">
                                    Campo Obrigatório!
                                </mat-error> -->
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="frm.value.cultura">
                        <th scope="row" class="align-middle">Idade Plantio</th>
                        <td>
                            <mat-form-field>
                                <mat-select formControlName="idadePlantio" [compareWith]="idListComparar">
                                    <mat-option
                                        *ngFor="let idadePlantio of frm.value.cultura.culturaIdadePlantioList"
                                        [value]="idadePlantio">{{idadePlantio.nome}}</mat-option>
                                    </mat-select>
                                <!-- <mat-error *ngIf="frm?.controls.cultura.hasError('required')">
                                    Campo Obrigatório!
                                </mat-error> -->
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="frm?.value.cultura">
                <table class="table m-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Recomendação de amostragem do solo para análise</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    {{frm?.value.cultura.recomendacao}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table m-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Época</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    {{frm?.value.cultura.epoca}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table m-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Tipo de Folha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    {{frm?.value.cultura.tipoFolha}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table m-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Número de folhas por gleba</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    {{frm?.value.cultura.numeroFolha}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table m-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Armazenagem e envio das amostras para analise em
                                laboratório</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    {{frm?.value.cultura.armazanamentoEnvio}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table m-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Observações para coleta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    {{frm?.value.cultura.observacaoColeta}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Proximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 2
                </mat-panel-title>
                <mat-panel-description>
                    Análise de Solo
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="table-responsive">
                <table class="table m-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center" colspan="4">DADOS DA ANALISE DE SOLOS</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">ELEMENTO</th>
                            <th scope="col" class="text-center">VALOR</th>
                            <th scope="col" class="text-center">UNIDADE</th>
                        </tr>
                    </thead>

                    <tbody formArrayName="receitaAnaliseSoloParametroList">
                        <ng-template ngFor let-receitaAnaliseSoloParametro
                            [ngForOf]="frm?.get('receitaAnaliseSoloParametroList')['controls']" let-i="index">
                            <tr [formGroupName]="i">
                                <td
                                    [attr.rowspan]="receitaAnaliseSoloParametro.value.valor && receitaAnaliseSoloParametro.value.avaliacao ? 2 : 1">
                                    {{i+1}}
                                </td>
                                <td>
                                    {{receitaAnaliseSoloParametro.value.analiseSoloParametro?.nome}}
                                </td>
                                <td class="text-right">
                                    <mat-form-field>
                                        <mat-label>Valor</mat-label>
                                        <input matInput type="number" class="text-right" formControlName="valor" min="0" step="0.01" [max]="receitaAnaliseSoloParametro?.value?.analiseSoloParametro?.unidadeMedida?.codigo === 'PERCENTUAL' ? 100 : null">
                                        <mat-error *ngIf="receitaAnaliseSoloParametro?.controls?.valor?.errors?.required">Campo Obrigatório!</mat-error>
                                        <mat-error *ngIf="receitaAnaliseSoloParametro?.controls?.valor?.errors?.min">Valor mínimo ({{receitaAnaliseSoloParametro?.controls?.valor?.errors?.min.min}}) ultrapassado!</mat-error>
                                        <mat-error *ngIf="receitaAnaliseSoloParametro?.controls?.valor?.errors?.max">Valor máximo ({{receitaAnaliseSoloParametro?.controls?.valor?.errors?.max.max}}) ultrapassado!</mat-error>
                                    </mat-form-field>
                                </td>
                                <td>
                                    {{receitaAnaliseSoloParametro.value.analiseSoloParametro?.unidadeMedida?.nome}}
                                    <!--
                                        <mat-form-field>
                                        <mat-select [compareWith]="idListComparar2" 
                                            [(ngModel)]="analiseSoloParametro.unidadeMedida"
                                            [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let unidadeMedida of unidadeMedidaList" [value]="unidadeMedida">
                                                {{unidadeMedida.nome}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Campo Obrigatório!</mat-error>
                                    </mat-form-field>
                                -->
                                </td>
                            </tr>
                            <tr [formGroupName]="i"
                                *ngIf="receitaAnaliseSoloParametro.value.valor && receitaAnaliseSoloParametro.value.avaliacao">
                                <td colspan="3"
                                    [ngClass]="receitaAnaliseSoloParametro.value.avaliacao === 'baixo' ? 'table-danger' : receitaAnaliseSoloParametro.value.avaliacao === 'medio' ? 'table-warning' : receitaAnaliseSoloParametro.value.avaliacao === 'adequado' ? 'table-success' : ''">
                                    {{receitaAnaliseSoloParametro.value.avaliacao}}
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 3
                </mat-panel-title>
                <mat-panel-description>
                    Espaçamento
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="3">DETALHE O ESPAÇAMENTO SE ESTE FOR SIMPLES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>X</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="3">DETALHE O ESPAÇAMENTO SE ESTE FOR DUPLO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>X</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="1">TAMANHO DA ÁREA PLANTADA EM HECTARES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step ===4" (opened)="setStep(4)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 4
                </mat-panel-title>
                <mat-panel-description>
                    Calcário
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="3">ESCOLHA O CALCÁRIO E DIGA SEU PERCENTUAL PARA
                            ATENDER A DEMANDA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar" #calcariov>
                                    <mat-option *ngFor="let calcario of calcarioList" [value]="calcario">
                                        {{calcario.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>X</td>
                        <td>
                            <mat-slider thumbLabel min="0" max="100" step="0.5" #vlr1 [disabled]="!calcariov.value">
                            </mat-slider>
                            [{{vlr1.value | number:'3.1-1':'pt-BR' }}]%
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="3">ESCOLHA O PÓ DE ROCHA E DIGA SEU PERCENTUAL PARA
                            ATENDER A DEMANDA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar" #poDeRochav>
                                    <mat-option *ngFor="let poDeBrita of poDeBritaList" [value]="poDeBrita">
                                        {{poDeBrita.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>X</td>
                        <td>
                            <mat-slider thumbLabel min="0" max="100" step="0.5" #vlr2 [disabled]="!poDeRochav.value">
                            </mat-slider>
                            [{{vlr2.value | number:'3.1-1':'pt-BR' }}]%
                        </td>
                    </tr>
                </tbody>
            </table>

            <mat-card>
                <mat-card-content>
                    <div class="alert"
                        [class]="(vlr1.value + vlr2.value) < 100 ? 'alert-warning' : (vlr1.value + vlr2.value) === 100 ? 'alert-success' : 'alert-danger'">
                        <h2 class="m-2">
                            Percentual Total [{{vlr1.value | number:'3.1-1':'pt-BR'}}% +
                            {{vlr2.value | number:'3.1-1':'pt-BR'}}]% =
                            {{(vlr1.value + vlr2.value) | number:'3.1-1':'pt-BR'}}%
                        </h2>
                        <small *ngIf="(vlr1.value + vlr2.value) < 100">Acrescente os Percentuais</small>
                        <small *ngIf="(vlr1.value + vlr2.value) === 100">Percentual Válido</small>
                        <small *ngIf="(vlr1.value + vlr2.value) > 100">Dimunua os Percentuais</small>
                        <section>
                            <mat-progress-bar color="primary" mode="determinate"
                                [value]="(vlr1.value / 1) + (vlr2.value / 1)" #barra>
                            </mat-progress-bar>
                        </section>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 5
                </mat-panel-title>
                <mat-panel-description>
                    Gesso
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">ESCOLHA O GESSO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let gesso of gessoList" [value]="gesso">
                                        {{gesso.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">DIGA SE FOI REALIZADA AMOSTRAGEM DE SOLO DE 40-60 CM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-checkbox class="example-margin" [(ngModel)]="realizadaAmostragemSolo4060"
                                [ngModelOptions]="{standalone: true}" name="realizadaAmostragem">Sim</mat-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table m-4" *ngIf="realizadaAmostragemSolo4060">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="3">SE A RESPOSTA ANTERIOR FOI SIM, DIGA OS DADOS
                            ABAIXO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            CÁLCIO
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            cmolс/dm³ = mE/100mL
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ALUMÍNIO
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            cmolс/dm³ = mE/100mL
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT. ALUMÍNIO
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" class="text-right">
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            %
                        </td>
                    </tr>
                </tbody>
            </table>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 6
                </mat-panel-title>
                <mat-panel-description>
                    Adubo
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="2">
                            ESCOLHA O ADUBO FONTE DE FÓSFORO E DIGA O PERCENTUAL QUE CABERÁ A CADA ADUBO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let fosforo of fosforoList" [value]="fosforo">
                                        {{fosforo.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let fosforo of fosforoList" [value]="fosforo">
                                        {{fosforo.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let fosforo of fosforoList" [value]="fosforo">
                                        {{fosforo.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let fosforo of fosforoList" [value]="fosforo">
                                        {{fosforo.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Observação: os valores acima não podem ser menores ou maiores que 100%</p>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="2">
                            ESCOLHA O ADUBO FONTE DE POTÁSSIO E DIGA O PERCENTUAL QUE CABERÁ A CADA ADUBO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let fosforo of fosforoList" [value]="fosforo">
                                        {{fosforo.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let fosforo of fosforoList" [value]="fosforo">
                                        {{fosforo.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let fosforo of fosforoList" [value]="fosforo">
                                        {{fosforo.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Observação: os valores acima não podem ser menores ou maiores que 100%</p>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="2">
                            ESCOLHA O ADUBO FONTE DE NITROGÊNIO E DIGA O PERCENTUAL QUE CABERÁ A CADA ADUBO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let nitrogenio of nitrogenioList" [value]="nitrogenio">
                                        {{nitrogenio.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let nitrogenio of nitrogenioList" [value]="nitrogenio">
                                        {{nitrogenio.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-slider></mat-slider>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Observação: os valores acima não podem ser menores ou maiores que 100%</p>

            <table>
                <tr>
                    <td>Nutrientes</td>
                    <td>N</td>
                    <td>P2O5</td>
                    <td>K2O</td>
                </tr>
                <tr>
                    <td>Demanda (g/planta)</td>
                    <td>300,00</td>
                    <td>300,00</td>
                    <td>70,00</td>
                </tr>
                <tr>
                    <td>Excesso ou déficit (g/planta)</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                </tr>
            </table>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 7
                </mat-panel-title>
                <mat-panel-description>
                    Adubo Micronutriente
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="2">
                            ESCOLHA O ADUBO FONTE DE MICRONUTRIENTE
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let microNutriente of microNutrienteList"
                                        [value]="microNutriente">
                                        {{microNutriente.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let microNutriente of microNutrienteList"
                                        [value]="microNutriente">
                                        {{microNutriente.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select [compareWith]="idListComparar">
                                    <mat-option *ngFor="let microNutriente of microNutrienteList"
                                        [value]="microNutriente">
                                        {{microNutriente.nome}}</mat-option>
                                </mat-select>
                                <mat-error>Campo Obrigatório!</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Observação: os valores acima não podem ser menores ou maiores que 100%</p>

            <table>
                <tr>
                    <td>Nutrientes</td>
                    <td>B</td>
                    <td>Cu</td>
                    <td>Mn</td>
                    <td>Zn</td>
                </tr>
                <tr>
                    <td>Demanda (g/planta)</td>
                    <td>16,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>Excesso ou déficit (g/planta)</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                </tr>
            </table>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PASSO 8
                </mat-panel-title>
                <mat-panel-description>
                    Resultado
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="table m-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" colspan="2">
                            RECOMENDAÇÃO TÉCNICA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select>
                                <option>Esterco de galinha</option>
                            </select>
                        </td>
                        <td>
                            <input value="0,0">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Esterco de gado</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Minhofertil (61 3361-6634)</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Composto ORGANICS (062 3247-3100)</option>
                            </select></td>
                        <td><input value="3,7"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Composto Bioforte BONASA (061 9 9967-0863)</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Composto Bioensima BONASA (061 9 9967-0863)</option>
                            </select></td>
                        <td><input value="35416,7"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Bokashi Carlos (061 9 9681-3730)</option>
                            </select></td>
                        <td><input value="4547,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Bokashi Valdemar (9 9811-2414)</option>
                            </select></td>
                        <td><input value="5109,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Biobokashi Farelado FERTIBIO (61 9827-4439)</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Torta de mamona Super thorg (061 9 9827-4439)</option>
                            </select></td>
                        <td><input value="-0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Torta de mamona Nutrisafra (062 3310-8133)</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Torta de mamona Vitaplan (061 3234-8485)</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Farinha de osso</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Termofosfato YOORIN</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Kmag</option>
                            </select></td>
                        <td><input value="963,6"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Algas marinhas Algen</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Torta de mamona Hortibraz</option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option></option>
                            </select></td>
                        <td><input value="0,0"></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td rowspan="2">
                        PARA OBTER O MENOR CUSTO
                    </td>
                    <td>Custo/área total</td>
                    <td><input value="2794,51057848193"></td>
                </tr>
                <tr>
                    <td>Custo/planta </td>
                    <td><input value="22,3560846278554"></td>
                </tr>
            </table>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Final</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>
</form>
[{{frm?.value | json}}]